<?xml version="1.1" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.inbox.savinov_vu.entity"/>

    <bean id="controller" class="ru.inbox.savinov_vu.controller.HumanController"/>
    <bean id="service" class="ru.inbox.savinov_vu.service.ServiceImpl"/>
    <bean id="dto" class="ru.inbox.savinov_vu.to.DTOImpl"/>
</beans>